.page-places
    .places-persons
        @include margin-top($global-spacing)
    address
        --bs-card-spacer-x: 0
        --bs-card-spacer-y: 0
    .hero
        address
            --bs-card-color: #{$hero-color}
            font-size: $small-font-size
        .hero-content + .hero-content
            align-self: end
        .contact-list
            --bs-card-bg: #{darken($header-background-color, 2%)}
            --bs-card-color: #{$hero-color}
            --bs-card-spacer-x: 2rem
            --bs-card-spacer-y: 2rem
    .map
        @include margin-top($global-spacing)
        margin-bottom: 0
    .latest
        @include padding-bottom($global-spacing)
        @include padding-top($global-spacing)
        background-color: $light
        .media
            background-color: darken($light, 2)
    div + .latest 
        @include padding-top($global-spacing-double)
        @include margin-top($global-spacing-double)
    .latest:last-child
        @include padding-bottom($global-spacing-double)
        @include margin-bottom(- $global-spacing-double)

    @include media-breakpoint-up(md)
        .grid
            >
                .featured-image
                    grid-column: 1/6
                    grid-row: 1/4
                .content
                    grid-column: 6/13
                    grid-row: 1
                .sidebar
                    grid-column: 6/12
                    grid-row: 2
                    margin-top: calc(#{$paragraph-margin-bottom} * 2)
                .map,
                .places-persons
                    grid-column: 1/13
    @include media-breakpoint-up(lg)
        .grid
            >
                .content
                    grid-column: 6/12
                .sidebar
                    grid-column: 6/10
    @include media-breakpoint-up(xl)
        .grid
            >
                .featured-image
                    grid-column: 2/6
                .sidebar
                    grid-column: 6/9
                    
    @include media-breakpoint-down(md)
        .grid
            >
                .map
                    order: 4
                .places-persons
                    order: 5
